body {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', 'Verdana', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 940px;
    margin: 0 auto;
}
div, p, form, input, a ,span, button {
    box-sizing: border-box;
}
p {
    margin: 0;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-size: 15px;
}
/*ul, li {
    display: block;
    padding: 0;
    margin: 0;
}*/
ol{
    list-style: none;
}
ol > li{
    padding-left: 20px;
    position: relative;
    margin: 10px;
}
ol > li:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: #ffa200;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}
h1 {
    font-size: 27px;
    text-align: center;
}
h2 {
    font-size: 26px;
    text-align: center;
}
h3 {
    font-size: 22px;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-center {
    justify-content: space-between;
}
.header {
    margin: 0;
    padding: 69px 0 60px 0;
    color: #fff;
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(14,62,182,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(14,62,182,1)));
    background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(14,62,182,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(14,62,182,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(14,62,182,1) 100%);
    background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(14,62,182,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0e3eb6', GradientType=1 );
    box-shadow:  inset 0 -35px 83px -35px #061b50;
}
.offer {
    text-align: center;
}
.offer__logo {
    margin-bottom: 168px; 
}
.offer__title {
    text-transform: unset;
    margin-bottom: 29px;
    font-weight: bold;
}
.button {
    display: block;
    margin: 0 auto;
    width: 216px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 27.5px;
    padding: 18px 32px; 
    margin-bottom: 169px;
}
.arrow {
    display: block;
    margin: 0 auto;
    transition: all 5s ease;
}
.anchor {
    margin-bottom: 15px;
}
.about-me__block1 {
    width: 457px;
}
.about-me__block2 {
    width: 43%;
}
.about-me__icon {
    display: block;
    width: 52px;
    height: 52px;
    background-color: #2d63eb;
    border: #2d63eb 1px solid;
    border-radius: 10px;
    text-align:center;
    padding-top: 13px;
    margin-right: 24px;
}
.about-me__icon:not(:last-child) {
    margin-bottom: 26px;
   }
.section {
    color: #0e1b3e;
}
.about {
    padding-top: 109px;
    padding-bottom: 90px;
}
.about h2 {
    margin-bottom: 78px;
}
.about-me {
    margin-bottom: 0px;
    justify-content: space-between;
}
.about-me__title::after {
    content: '';
    display: block;
    background: #2d63eb;
    height: 3px;
    width: 72px;
    margin-top: 24px;
    margin-bottom: 38px;
}
.about-me__texta {
    width: 456px;
    padding-bottom: 30px;
}
.about-me__textb {
    width: 470px;
    margin-bottom: 30px; 
}
.about-me__text1 {
    text-transform: none;
    font-size: 16px;
    color: #2d63eb;
    margin-bottom: 8px; 
}
.about-me__text2 {
    color: #b0b2b3;
    margin-bottom: 8px;
}
.advantages {
    padding-top: 109px;
}
.advantage {
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 116px;
    justify-content: space-between;
    width: 83%;
}
.advantage__icon {
    display: block;
    border: #ffa200 1px solid;
    border-radius: 50%;
    color: #ffa200;
    font-size: 30px;
    width: 75px;
    height: 75px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 14px;
}
.advantage__icon:hover {
    background: #ffa200;
    color: #fff;
}
.advantage__text {
    font-size: 16px;
    font-weight: bold;
}
.porfolio {
    background-color: #e6e9f1;
    padding: 92px 0 116px;
}
.porfolio-me {
    text-align: center;
}
.porfolio-me__text {
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: left;
    width: 450px;
    font-size: 22px;
}
 .porfolio-me__btn {
    margin-left: 15px; 
    text-decoration: none;
    border-bottom: #9badd8 1px dotted;
    color: #0e1b3e;
}
.call {
    background-color: #e6e9f1;
    padding: 92px 0 116px;
}
.call-me {
    text-align: center;
}
.call-me__text {
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    width: 450px;
}
.call-me__text span {
    display: block;
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 25px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
.call-me__btn {
    display: block;
    margin: 0 auto;
    background-color: #2d63eb;
    color: #fff; 
    border: #2d63eb;
}
.footer {
    background-color: #06319e;
}
.footer .container {
    padding: 50px 0 50px 0;
}
.footer p {
    font-size: 13px;
    color: #8fa2d3;
}
.footer__btn {
    text-decoration: none;
    font-size: 13px;
    color: #e7ebf5;
    border-bottom: #9badd8 1px dotted;
}
.footer__icon a {
    text-decoration: none;
    color: #2d63eb;
    font-size: 25px;
    padding-right: 15px;
}
.footer__icon a:last-child; {
    padding-right: 0px;
}
